body {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
}

.sidebar div,
.sidebar ul,
.sidebar li,
.sidebar a {
    margin: 0;
    padding: 0;
    border: 0;
}

.sidebar {
    width: 25%;
    height: 100vh;
    position: fixed;
    background-color: #040f16;
    color: #fbfbff;
    font-family: sans-serif;
}

.site-links {

}

.site-links .link {

}

.site-links .link a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.site-container {
    width: 75%;
    float: right;
}

.highlighted-site {
    background-color: black;
    color: white;
}
