<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Word Sandwich</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="same-origin">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="screen" />

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->

        <div class="container">
            <div class="sidebar">
                <ul class="site-links">
                    {% for key, data in sites.items() %}
                        <li id="{{ key }}-link" class="link">
                            <a href="{{ data['src'] }}">{{ data['title'] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% for key, data in sites.items() %}
            <div id="#{{ key }}" class="site-container">
                {{ data['body']|safe }}
            </div>
            {% endfor %}
        </div>
    </body>
</html>
